@import 'variables';

.descriptions {
  padding-left: $section-margin-left;
  position: relative;
  top: -0em;
  display: flex;
  flex-direction: row;
  //  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .column {
    width: 23%;
    display: block;
    margin-right: 3em;

    &__headline {
      padding-bottom: 1em;
      font-size: 0.85rem;
    }

    &__paragraph {
      font-size: 0.5em;
      line-height: 1.8em;
    }

    &__collapsed {
      display: none;
    }

    @media (max-width: $mobile-width) {
      margin: 0;

      &__headline {
        padding-bottom: 1.6em;
        background: red;
      }
    }
  }
}
