@import 'variables';

.features {
  width: 100%;
  padding: 0;
  margin: 5em 0 0 0;
  height: auto;
  position: relative;
  box-sizing: border-box;

  &__title {
    padding: 2em 0 2em $section-margin-left;
  }

  &__images {
    &--top {
      height: 40vw;
      background-image: url(../images/mob_mobile.png);
      background-repeat: no-repeat;
      background-position: 75% 0%;
      background-size: 25%;
      position: relative;
      z-index: 10;
    }

    &--bottom {
      background-image: url(../images/mob_features_bg.png);
      background-repeat: no-repeat;
      background-size: 100% 70%;
      background-color: $product-color;
      background-color: green;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    top: -7.5em;
    z-index: 9;

    height: 10em;
    padding: 1em 4em;
    box-sizing: border-box;

    background-color: $product-color;
    color: $background-color;

  }

  &__headline {
    order: 1;
    width: 40vw;
    font-family: $heading-font;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    padding: 2em;
    white-space: nowrap;
  }

  &__paragraph {
    order: 2;
    width: 35vw;
    font-family: $regular-font;
    font-weight: 100;
    font-size: 0.45rem;
    padding: 8em 2em 0 2em;
    line-height: 0.75rem;
  }

  &__view {
    order: 3;
    flex-grow: 1;
    text-align: center;
    font-family: $regular-font;
    font-weight: 300;
    font-size: 0.45rem;
  }

  &__view-bordered {
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    width: 35%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1em;
  }

  .slideshow {
    position: relative;
    top: -14.5vw;
    top: -8.25em;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    &__button {
      cursor: pointer;
      height: 2em;
      width: 2em;
      text-align: center;
      line-height: 2em;
      background: white;
      opacity: 0.8;
    }
  }

  .list {
    margin: 0 $section-margin-left;
    margin-top: 1em;
    position: relative;
    top: -15vw;
    font-family: $heading-font;
    font-weight: bold;
    font-size: 0.6rem;
    color: black;
    max-height: 10vw;

    &__item {
      width: 100%;
      max-height: 3vw;
      padding: 1.5em 0;
      cursor: pointer;
      white-space: nowrap;
      transition: color 0.3s,
        font-size 0.3s,
        padding 0.3s;

      &::after {
        padding: 0 0.5em;
        position: relative;
        right: -60%;
        font-weight: 300;
        font-size: 0.6rem;
        content: 'v';
      }

      &:hover,
      &:active {
        color: $product-color;
        font-size: .8rem;
        padding-bottom: 2em;
        transition: color 0.3s, font-size 0.3s, padding 0.3s;

        &::after {
          content: '';
          color: black;
        }

      }

    }

    &__item-title {
      display: inline-block;
      width: 25vw;
    }
  }


}

.system-info {
  padding-left: $section-margin-left;
  padding-top: 1em;

  padding: 1em $section-margin-left 0 $section-margin-left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    order: 0;
    width: 50%;

    &__headline {
      font-size: 0.85rem;
      padding: 1em 0;
    }
  }

  .download {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    align-items: baseline;

    font-family: $regular-font;
    font-weight: 100;
    font-size: 0.5rem;

    &__title {
      font-weight: bold;
      font-family: $heading-font;

    }

    &__button {
      cursor: pointer;
      // vertical-align: middle;;
      font-size: 0.55rem;
      font-weight: 300;
      line-height: .55rem;
      background: $product-color;
      color: $background-color;
      // margin: 0 0 0 0.5vw;
      padding: 1.35em 2em;
    }

  }
}