@import 'variables';

// DESKTOP (> 700px)

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: $background-color-secondary;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  //padding-left: 0.5em;

  .logo {
    order: 1;
    background: url(../images/logo-min.png) no-repeat 0.5em center;
    background-size: 1em;
    padding-left: 1.7em;
    box-sizing: border-box;
    width: 30%;

    &__title {
      display: inline-block;
      font-weight: 500;
      font-size: 0.6em;
      font-family: 'Poppins';
      height: 1em;
    }
  }

  .navi-top {
    order: 2;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    text-align: right;
    font-size: 0.4rem;
  }

  .navi-bottom {
    order: 3;
    padding: 0;
    width: 100%;
    margin: 2em 0 0 0;
    padding-left: $section-margin-left;
    // padding-left: 8em;
    font-family: 'Roboto';
    font-size: 0.5rem;
    font-weight: 500;

    &__title {
      display: inline-block;
      margin-right: 4em;
      font-weight: 500;

      &::after {
        content: ': ';
        position: relative;
        left: -0.25em;
      }
    }
  }

  .list {
    font-family: 'Roboto';

    &__item {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;
      vertical-align: middle;

      &:hover {
        font-weight: 600;
      }

      &--big {
        font-size: 0.55rem;
        font-weight: 500;
        margin-right: 0.5rem;
      }

      &--colored {
        font-size: 0.55rem;
        font-weight: 300;
        background: $product-color;
        color: $background-color;
        margin: 0 0 0 0.5vw;
        padding: 1.35em 2em;
        box-sizing: content-box;

        &:hover {
          font-weight: 300;
        }
      }

      &--active {
        text-decoration: none;
        color: inherit;
        margin-right: 4em;
        margin-top: 0.3em;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0.25em;
          background: $secondary-color;
          margin-top: 0.3em;
          transition: width 0.3s;
        }

        &:hover::after {
          width: 50%;
        }
      }
    }
  }

  .dropdown {
    padding: 0.15em;
    padding-left: 4em;
    height: 1.25em;
    width: 1.25em;
    background: url(../images/globe.png) no-repeat center;
    background-size: contain;
    margin-right: 1.5rem;

    &__arrow {
      display: inline-block;
      padding: 0.3em;
      margin-top: 0.2em;
      border-left: 0.05em solid #222;
      border-bottom: 0.05em solid #222;
      transform: rotate(-45deg);
    }

    &__list {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    &:hover .dropdown__list {
      display: block;
      background: $background-color;
      background: lightslategrey;
    }
  }

  .burger-navi {
    display: none;
  }
}

// MOBILE (330px-700px)
@media (max-width: $mobile-width) {
  .header {
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0.5em;
    padding-top: 1em;
    box-sizing: border-box;

    .logo {
      order: 1;
      padding: 0;
      margin: 0;
      margin-left: 0.5em;
      height: 2em;
      width: 25vw;
      background: url(../images/logo-min.png) no-repeat left center;
      background-size: 2em;

      &__title {
        display: none;
      }
    }

    .navi-top {
      order: 3;
      padding: 0;
      margin: 0;
      width: 25vw;

      .list {
        display: none;
      }

      .burger-navi {
        padding: 0;
        margin: 0;
        margin-right: 0.5em;
        display: inline-block;
        height: 2.7em;
        width: 6vw;
        background: url(../images/burger.png) no-repeat center;
        background-size: 75%;

        cursor: pointer;
      }
    }

    .navi-bottom {
      order: 2;
      margin: 0;
      padding: 0;
      height: 3em;
      text-align: center;
      margin-top: 1em;
      width: 50%;

      &__title {
        display: initial;
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        font-size: 0.9rem;
        font-weight: bold;

        &::after {
          content: '';
          padding: 0;
          margin: 0;
        }
      }

      .list__item {
        display: none;
      }
    }

    .arrow {
      display: inline-block;
      padding: 0.2em;
      margin-left: 0.5em;
      margin-bottom: 0.22em;
      border-left: 0.06em solid #222;
      border-bottom: 0.06em solid #222;
      transform: rotate(-45deg);
    }
  }
}