@import 'variables';

.problem-solving {
  margin-top: 5em;
  padding-left: $section-margin-left;
  //  font-family: 'Roboto';
  //  font-size: 0.5em;

  &__title {
    padding: 2em 0;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20vw;
      padding: 0 1em;


    }

    &__item-image {
      height: 14vw;
      background-image: url(../images/mob-problem-solving.png);
      background-repeat: no-repeat;
      background-position: 10% center;
      background-size: 60%;
    }

    &__item-headline {
      margin: 0em 0 1em 0;
      font-family: 'Poppins';
      font-size: 0.5rem;
      font-weight: 700;
      line-height: 1.5vw;
      width: 100%;
      min-height: 5vw;
    }

    &__item-paragraph {
      font-family: 'Roboto Light';
      font-size: 0.5rem;
      line-height: 2vw;
      width: 100%;
    }

  }


}