@import 'reset';
@import 'texts';
@import 'variables';
@import 'header-navi';
@import 'hero';
@import 'form';
@import 'descriptions';
@import 'problem-solving';
@import 'features';

body {
  width: 100%;
}

.main-container {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}