@import './utils/reset';
@import './utils/texts';
@import './utils/variables';
@import './header/header';
@import './hero/hero';
@import './contact-form/contact-form';
@import './descriptions/descriptions';
@import './problem-solving-app/problem-solving-app';
@import './features/features';
@import './footer/footer';
@import './mixins/mixins';

html,
body {
  width: 100%;

}

::-webkit-scrollbar {
  display: none;
}

.zonifero {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}


.collapsed-list {
  display: none;

  .dot {
    display: inline-block;
    background: black;
    margin: 0 .2em;
    padding: 1vw;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;

    &--active {
      background: $product-color;
    }
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin: 2em auto;
    clear: both;
    width: 100%;
    text-align: center;
  }
}