@import 'variables';

html {
  font-size: calc(1em + 1vw);
}

.headline1 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.2em;
  color: $product-color;

  &--secondary {
    color: $text-color;
  }
}

.headline2 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: .85rem;
  line-height: 1rem;

  @media (max-width: 375px) {
    font-size: 7vw;
  }
}

.headline3 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 19;
  line-height: 26%;
}

.section-header {
  font-family: $regular-font;
  font-weight: 500;
  font-size: .5em;
}

.paragraph-text {
  font-family: $regular-font;
  font-weight: light;
  font-size: 0.5rem;
  line-height: 1.5;

  @media (max-width: 375px) {
    font-size: 4.5vw;
  }
}


.input-label-text {
  font-family: $regular-font;
  font-weight: 300;
  font-size: 0.6rem;
  color: $text-color;
}

.input-placeholder-text {
  font-family: $regular-font;
  font-weight: 400;
  font-size: 1.2rem;
  color: $text-color;
}