$product-color: #3146ff;
$text-color: black;
$background-color: #f7f7f7;
$background-color-secondary: white;
$secondary-color: #01ffcb;

$mobile-width: 700px;
$section-margin-left: 12vw;

$heading-font: 'Poppins';
$regular-font: 'Roboto';